
{% macro role_view(role) %}
### {{ role.name }}
	{% for task in role.tasks -%}
{{ task_view(task) }}
	{%- endfor %}
{% endmacro %}


{% macro task_view(task) %}
	{%- for text in task.text %}

{{ text }}.
	{%- endfor -%}
	{%- if task.commands %}

```bash
{{ task.commands }}
```
	{%- endif -%}
	{%- if task.content -%}
		{%- if task.linked_content -%}
[{{ task.content }}](/{{ task.content }})
		{%- else %}
```
{{ task.content }}
```
		{%- endif %}
	{%- endif %}
{% endmacro %}
