{% macro role_view(role) %}
=== {{ role.name }} ===
	{% for task in role.tasks -%}
{{ task_view(task) }}
	{%- endfor %}
{% endmacro %}


{% macro task_view(task) %}
	{%- for text in task.text %}

{{ text }}.
	{%- endfor -%}
	{%- if task.commands %}
{{ task.commands | indent(2, true) }}
	{%- endif -%}
	{%- for content in task.content -%}
		{%- if content.linked -%}
[[File:{{ content.content }}|{{ content.content }}]]
		{%- else %}
{{ content.content | indent(2, true) }}
		{%- endif %}
	{%- endfor %}
{% endmacro %}
